<footer class="footer section bg-dark text-light">
	<div class="container">
		<div class="autofit-float autofit-row autofit-row-top autofit-padded-no-gutters-x">
			<div class="col-30 autofit-col autofit-col-expand mr-auto">
				<div class="widget mb-5 mb-lg-0 p-4 bg-secondary">
					<div class="logo mb-4 w-100 d-flex bg-light">
						<img src="${htmlUtil.escape(themeDisplay.getCompanyLogo())}" alt="" class="img-fluid m-auto">
					</div>
					<p data-lfr-editable-id="description" data-lfr-editable-type="text" class="text-light">Tempora dolorem voluptatum nam vero assumenda voluptate, facilis ad eos obcaecati tenetur veritatis eveniet distinctio possimus.</p>

					<ul class="list-inline footer-socials mt-4 text-primary d-flex">
						<li class="list-inline-item m-auto"><a href="https://www.facebook.com"><i class="icofont-facebook"></i></a></li>
						<li class="list-inline-item m-auto"><a href="https://twitter.com"><i class="icofont-twitter"></i></a></li>
						<li class="list-inline-item m-auto"><a href="https://www.pinterest.com/"><i class="icofont-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			[#attempt]
                    [#assign navMenuID = configuration.navigationMenu?number]
                    [#assign templateId = configuration.navigationMenuTemplate?number]
                    [#assign ddmTemplateLocalService =
                    serviceLocator.findService("com.liferay.dynamic.data.mapping.service.DDMTemplateLocalService")]
                    [#assign template = ddmTemplateLocalService.fetchDDMTemplate(templateId)]
                    [#assign siteNavigationMenuLocalService =
                    serviceLocator.findService("com.liferay.site.navigation.service.SiteNavigationMenuLocalService")]
                    [#assign navigationMenu = siteNavigationMenuLocalService.fetchSiteNavigationMenu(navMenuID)]
                    [@liferay_site_navigation["navigation-menu"]
                    ddmTemplateGroupId=template.groupId
                    ddmTemplateKey=template.templateKey
                    displayDepth=1
                    expandedLevels="auto"
                    rootItemType="absolute"
                    rootItemLevel=0
                    siteNavigationMenuId=navigationMenu.siteNavigationMenuId /]
                    [#recover]
                    <li class="nav-item text-primary"><span class="nav-link">
                            <small>Menu is temporarily unavailable.</small></span></li>
                    [/#attempt]

			<div class="col-30 autofit-col autofit-col-expand">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3"  data-lfr-editable-id="get-in-touch" data-lfr-editable-type="text">Get in Touch</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0"  data-lfr-editable-id="get-in-touch-subheader" data-lfr-editable-type="text">Support Available for 24/7</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890"  data-lfr-editable-id="get-in-touch-email" data-lfr-editable-type="link">Support@email.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0"  data-lfr-editable-id="get-in-touch-working-hours" data-lfr-editable-type="text">Mon to Fri : 08:30 - 18:00</span>
						</div>
						<h4 class="mt-2"><a href="tel:+23-345-67890"  data-lfr-editable-id="get-in-touch-contact-number" data-lfr-editable-type="link">+23-456-6588</a></h4>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to ${company.name}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Your Email address">
							<a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop js-scroll-trigger" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>