<div class="single-blog-item px-4">
    <img src="images/blog/blog-1.jpg" alt="" class="img-fluid" data-lfr-editable-id="post-cover-image" data-lfr-editable-type="image">

    <div class="blog-item-content mt-5">
        <div class="blog-item-meta mb-3">
            <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> <span data-lfr-editable-id="post-publish-date" data-lfr-editable-type="text">28th January 2019</span> </span>
        </div> 
        <div class="press-release-body" data-lfr-editable-id="post-body" data-lfr-editable-type="text">

        </div>
    </div>
</div>