<section class="banner" data-lfr-background-image-id="bannerImage">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
					<div class="overlay">
	</div>
				<div class="block p-4" style="position:relative">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing text-light" data-lfr-editable-type="text" data-lfr-editable-id="sub-header">Total Health care solution</span>
					<h1 class="mb-3 mt-3 text-light" data-lfr-editable-type="text" data-lfr-editable-id="main-header">Your most trusted health partner</h1>
					
					<p class="mb-4 pr-5 text-light"  data-lfr-editable-type="text" data-lfr-editable-id="description">A repudiandae ipsam labore ipsa voluptatum quidem quae laudantium quisquam aperiam maiores sunt fugit, deserunt rem suscipit placeat.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>