<section class="page-title bg-1" data-lfr-background-image-id="HeadImage">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block text-center">
						<span class="text-white" data-lfr-editable-id="Page-Title" data-lfr-editable-type="text">News details</span>
						<h1 class="text-capitalize mb-5 text-lg"  data-lfr-editable-id="Page-Sub-Header" data-lfr-editable-type="text">Blog Single</h1>
					</div>
				</div>
			</div>
		</div>
	</section>