<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<lfr-editable id="image-01" type="image">
						<img src="images/about/img-1.jpg" alt="" class="img-fluid shadow">
					</lfr-editable>
					<lfr-editable id="image-02" type="image">
						<img src="images/about/img-2.jpg" alt="" class="img-fluid mt-4 shadow">
					</lfr-editable>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<lfr-editable id="image-03" type="image">
						<img src="images/about/img-3.jpg" alt="" class="img-fluid shadow-lg">
					</lfr-editable>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color text-primary" data-lfr-editable-id="header" data-lfr-editable-type="text">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5 text-primary"  data-lfr-editable-id="description" data-lfr-editable-type="text">We provide best leading medicle service Nulla perferendis veniam deleniti ipsum officia dolores repellat laudantium obcaecati neque.</p>
					<lfr-editable id="readmore_link" type="link">
											<a href="service.html" class="btn btn-main-2 btn-round-full btn-icon text-primary">
						Services <i class="icofont-simple-right ml-3 text-primary"></i>
					</a>
					</lfr-editable>
				</div>
			</div>
		</div>
	</div>
</section>