.custom-header .nav-item
{
	align-items: center;
    display: list-item;
    word-wrap: normal;
    height: fit-content;
}
.list-inline-item
{
	display:flex!important;
}
.sign-in .portlet-boundary
{
	margin:auto;
}
.list-inline-item > div
{
	display:flex;
	margin:auto;
}
.list-inline-item > div > span
{
	display:flex;
	margin:auto;
}
.custom-header .dropdown .dropdown-item:hover {
		color: var(--secondary)!important;
	}
.company-name
{
font-size:1.5rem;
}
.custom-header .taglib
{
	margin-top:0px!important;
	margin-bottom:0px!important;
}
.custom-header .taglib .dropdown-toggle 
{
	margin:0px!important;
	padding:0px!important;
}

.mini-cart-fragment .mini-cart {
	height: auto;
	position: relative;
	right: auto;
	top: auto;
	width: auto;
}

.mini-cart-fragment .mini-cart-opener {
	color: var(--mini-cart-icon-color);
	position: relative;
}

.mini-cart-fragment .is-open .mini-cart-overlay,
.mini-cart-fragment .mini-cart-wrapper {
	position: fixed;
}