<section class="section about-page">
    <div class="container">
        <div class="autofit-float autofit-row autofit-row-center autofit-padded-no-gutters-x d-flex">
            <div class="autofit-col d-flex col-40">
                <h2 class="title-color text-primary my-auto" data-lfr-editable-id="title" data-lfr-editable-type="text"> 
                    Personal care for your healthy living
                </h2>
            </div>
            <div class="autofit-col autofit-col-expand col-60">
                <p data-lfr-editable-id="message" class="text-primary" data-lfr-editable-type="text"> 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quod laborum alias. Vitae
                    dolorum, officia sit! Saepe ullam facere at, consequatur incidunt, quae esse, quis ut reprehenderit
                    dignissimos, libero delectus.
                </p>
            </div>
        </div>
    </div>
</section>