<section class="section clients">
    <div class="container">
        <div class="autofit-float autofit-row autofit-row-center autofit-padded-no-gutters-x">
            <div class="autofit-col autofit-col-expand">
                <div class="section-title text-center text-primary">
                    <h2 data-lfr-editable-id="Header" data-lfr-editable-type="text">Partners who support us</h2>
                    <div class="divider mx-auto my-4 text-primary"></div>
                    <p  data-lfr-editable-id="Description" data-lfr-editable-type="text">Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt
                        molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <lfr-drop-zone></lfr-drop-zone>
    </div>
</section>