<div class="service-item mb-4 hvr-outline-in">
            <div class="icon d-flex align-items-center">
                <i class="${configuration.icon} text-lg"></i>
                <h4 class="mt-3 mb-3" data-lfr-editable-id="Title" data-lfr-editable-type="text">Laboratory services</h4>
            </div>

            <div class="content">
                <p class="mb-4"  data-lfr-editable-id="Description" data-lfr-editable-type="text">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
            </div>
        </div>