<section class="contact-form-wrap section contact-form">
    <div class="container">
        <div class="autofit-float autofit-row autofit-row-center autofit-padded-no-gutters-x d-flex">
            <div class="autofit-col mx-auto">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2" data-lfr-editable-id="title" data-lfr-editable-type="text">Contact us</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p class="mb-2"  data-lfr-editable-id="description" data-lfr-editable-type="text">Laboriosam exercitationem molestias beatae eos pariatur, similique, excepturi mollitia sit perferendis maiores ratione aliquam?</p>
                </div>
            </div>
        </div>
        <div class="autofit-float autofit-row autofit-row-center autofit-padded-no-gutters-x d-flex">
            <div class="autofit-col autofit-col-expand mx-auto">
                <lfr-drop-zone></lfr-drop-zone>
            </div>
        </div>
    </div>
</section>